[secrets]
wifi_ssid = CHANGE_ME_TO_THE_REAL_SSID
wifi_password = CHANGE_ME_TO_THE_REAL_WIFI_PASSWORD
firebase_host = CHANGE_ME_TO_THE_REAL_FIREBASE_HOST
firebase_api_key = CHANGE_ME_TO_THE_REAL_FIREBASE_API_KEY
