# IDE settings
.idea/
.vscode/

# Jupyter notebook
**/.ipynb_checkpoints/

# Compiled files
bin/
.pio/
*.exe
*.ilk
*.pdb

# Secrets
esw/config/secrets.ini
*.json

# Others
papers/
*.xlsx
*.pptx
*.lnk
*.url
